extends _layout/_master.pug
block body-css
    link(rel='stylesheet', href='https://code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css')

    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css',media="screen,projection")
    link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto+Condensed')

    //link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.8.6/jquery.fullPage.min.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css')

block body-js
    script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js')

    script(src='https://use.fontawesome.com/34f88ceba9.js')

block body
    section#main
        .section__button
            a(href='#registration').panic-button
                .inner
            p.animated.flash.infinite start the war
        .section__footer
            .section__sponsor-hashtag
                .section__sponsor
                    ul
                        li: a(href='//www.instagram.com/prodigycoffee_id',class='icon icon--instagram'): i.fa.fa-instagram.fa-2x
                .section__hashtag #indonesiabaristawars2016
    section.row#registration
        .col.s12.m6.offset-m3
            .card.z-depth-3
                .card-content
                    .card-title
                        img(src='img/logo__text.png',width='100%')
                    form.section__form#form_registration(method='POST', action='/registration', enctype='multipart/form-data')
                        .row
                            .col.s12.input-field
                                i.material-icons.prefix account_box
                                input#register_idcard.validate(type='text', name='idcard')
                                label(for='register_idcard') ID Card No. (ex: KTP, SIM)
                        .row
                            .col.s12.input-field
                                i.material-icons.prefix account_box
                                input#register_name.validate(type='text', name='name')
                                label(for='register_name') Name
                        .row
                            .col.s12.input-field
                                i.material-icons.prefix email
                                input#register_email.validate(type='email', name='email')
                                label(for='register_email') Email
                        .row
                            .col.s12.input-field
                                i.material-icons.prefix cake
                                input#register_dob.validate(type='date', name='dob').datepicker
                                label(for='register_dob') Date of birth
                        .row
                            .col.s12.input-field
                                i.material-icons.prefix wc
                                .gender
                                    p
                                        input(name="gender" type="radio" value='male').validate#register_gender_male
                                        label( for="register_gender_male") Male
                                    p
                                        input(name="gender" type="radio" value='female').validate#register_gender_female
                                        label(for="register_gender_female") Female
                        .row
                            .col.s12.file-field.input-field
                                .image-preview
                                    img(width='100%')
                                .btn.deep-orange.darken-4
                                    span
                                        i.material-icons portrait
                                        //i.material-icons.left add_a_photo
                                    input#register_picture(type='file', name='picture', accept='image/*')
                                .file-path-wrapper
                                    input.file-path.validate(type='text',placeholder='Choose a photo')
                                    label
                        .row
                            .col.s12.input-field
                                i.material-icons.prefix home
                                label(for='register_address') Address
                                textarea#register_address(name='address').materialize-textarea
                        .row
                            .col.s12.input-field
                                //i.material-icons.prefix pin_drop
                                //i.material-icons.prefix local_cafe
                                i.material-icons.prefix map
                                //i.material-icons.prefix person_pin_circle
                                label(for='register_coffeeshop').mdl-textfield__label Coffeeshop
                                #map
                                input#register_coffeeshop(type='text').mdl-textfield__input
                                input#register_coffeeshop_maps(type='hidden', name='coffeeshop_location')
                        .row
                            .col.s12.input-field
                                i.material-icons.prefix people

                                select(name='position').validate
                                    option(value='',disabled,selected) Position
                                    option(value='owner') Owner
                                    option(value='barista') Barista
                                    option(value='independent') Independent
                                //label Position
                        .row.action
                            .col.s12
                                .progress.deep-orange.lighten-2
                                    .indeterminate.deep-orange.darken-4
                                button(type='submit',)#register_submit.waves-effect.waves-light.btn.deep-orange.darken-4 submit
                                    i.material-icons.right send
