extends _layout/_master.pug
block body-css
    link(rel='stylesheet', href='https://code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.8.6/jquery.fullPage.min.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css')

block body-js
    script(src='https://code.jquery.com/ui/1.12.0/jquery-ui.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/fastclick/1.0.6/fastclick.js')

    script(src='https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.8.6/vendors/jquery.easings.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.8.6/vendors/scrolloverflow.js')

    script(src='https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.8.6/jquery.fullPage.min.js')
    script(src='https://use.fontawesome.com/34f88ceba9.js')

block body-script
    :babel(presets=['es2015'])

block body
    .fullpage#fullpage
        .section#section1.fp-noscroll
            .section__button
                a(href='#registration').mdl-button.mdl-js-button.mdl-button--fab.mdl-button--accent
                    //img(src='img/icon--black.png')
                p.animated.flash start the war
            .section__footer
                .section__sponsor-hashtag
                    .section__sponsor
                        ul
                            li: a(href='//www.instagram.com/prodigycoffee_id',class='icon icon--instagram'): i.fa.fa-instagram.fa-2x
                    .section__hashtag #indonesiabaristawars2016
        .section#section2
            .form.mdl-card.mdl-shadow--2dp
                .mdl-progress.mdl-js-progress.mdl-progress__indeterminate
                .mdl-card__title.mdl-card--expand
                    img(src='img/logo__text.png')
                    //img#upload_picture
                .mdl-card__supporting-text
                    form#form_registration(method='POST', action='/registration', enctype='multipart/form-data')
                        .mdl-grid
                            .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
                                input#register_idcard.mdl-textfield__input(type='text', name='idcard',)
                                label(for='register_idcard').mdl-textfield__label ID card no.
                        .mdl-grid
                            .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
                                input#register_name.mdl-textfield__input(type='text', name='name',)
                                label(for='register_name').mdl-textfield__label name
                        .mdl-grid
                            .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
                                input#register_email.mdl-textfield__input(type='email', name='email',)
                                label(for='register_email').mdl-textfield__label email
                        .mdl-grid
                            .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
                                input#register_dob.mdl-textfield__input(type='text', name='dob',)
                                label(for='register_dob').mdl-textfield__label date of birth
                        .mdl-grid
                            label.form__upload(for='register_picture')
                                span.mdl-button.mdl-js-button.mdl-button--accent(style={'border': 'thin solid'}) choose picture
                                input#register_picture(type='file', name='picture', accept='image/*',)
                        .mdl-grid
                            .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
                                label(for='register_address').mdl-textfield__label address
                                textarea#register_address(name='address').mdl-textfield__input
                        .mdl-grid
                            .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
                                label(for='register_coffeeshop').mdl-textfield__label coffeeshop
                                #map
                                input#register_coffeeshop(type='text').mdl-textfield__input
                                input#register_coffeeshop_maps(type='hidden', name='coffeeshop_location')
                        .mdl-grid
                            button(type='submit')#register_submit.mdl-button.mdl-js-button.mdl-button--raised.mdl-button--accent.mdl-js-ripple-effect submit