html, body {
  font-family: 'Source Sans Pro', sans-serif;
}

.fullpage > * {
  &:nth-child(odd) {
    background-color: #eee;
  }
}

.section {
  //padding: 1rem;
  .fp-tableCell > *{
    padding: 0 1rem;
    @include breakpoint(medium) {
      padding: 0 3rem;
    }
  }
}

h4 {
  text-transform: uppercase;
}
