html, body {
  font-family: 'Source Sans Pro', sans-serif;
}

.fullpage > * {
  &:nth-child(odd) {
    background-color: #eee;
  }
}

.section {
  padding: 0 1rem;
  @include breakpoint('medium') {
    padding: 0 2rem;
  }

}

h4 {
  text-transform: uppercase;
}
