
body > section {
    min-height: 100vh;
}

.section {
    position: relative;
    @include p('e:header', 'e:footer') {
        position: absolute;
        display: block;
        width: 100%;
        z-index: 9;
        text-align: center;
        height: 5rem;

        @include breakpoint(small) {
            @include breakpoint(landscape) {
                height: 2rem;
            }
        }
    }
    @include e('header') {
        top: 0;
    }
    @include e('footer') {
        bottom: 0;
    }
}

.section {
    @include e('sponsor-hashtag') {
        @include clearfix;
        @include absolute-center;
        @include breakpoint(small down) {
            width: 200px;
        }
    }
    @include p('e:sponsor', 'e:hashtag') {
        float: left;
    }
    @include e('sponsor') {
        ul {
            list-style: none;
            margin: 0;
            padding: 0;
        }
        li {
            display: inline-block;
        }
        a {
            color: #000;
        }
    }

    @include e('hashtag') {
        font-size: 10pt;
        line-height: 30px;
        color: #333;
        text-align: center;
        font-weight: bold;
        margin-left: 0.5rem;
    }
}

.section {
    @include e('button') {
        @include absolute-center;
        $max-size: 300px;
        $bg: #bf360c;
        a {
            $size: 50vw;
            width: $size !important;
            height: $size !important;
            @include breakpoint(landscape) {
                $size: 40vh;
                width: $size !important;
                height: $size !important;
            }
            max-width: $max-size;
            max-height: $max-size;

            display: block;
            margin: 60px auto;

            @include breakpoint(landscape) {
                margin: 40px auto;
            }
            border-radius: 50%;
            //background: #b25244;
            //background: linear-gradient(#b25244, #5e1912);
            $bg: #bf360c;
            background: $bg;
            background: linear-gradient($bg, darken(saturate(adjust-hue($bg, -2.1100), 23.1417), 26.2745));
            position: relative;
            cursor: pointer;
            padding: 13%;
            box-shadow: inset 0 2px 3px rgba(255, 255, 255, 0.13),
            0 5px 8px rgba(0, 0, 0, 0.5),
            0 10px 10px 4px rgba(0, 0, 0, 0.3);

            &:active {
                box-shadow: inset 0 2px 3px rgba(255, 255, 255, 0.13),
                0 -2px 12px rgba(0, 0, 0, 0.5),
                0 2px 4px 4px rgba(0, 0, 0, 0.3);
            }

            &:after {
                content: "";
                position: absolute;
                left: -20px;
                right: -20px;
                top: -20px;
                bottom: -20px;
                z-index: -2;
                border-radius: inherit;
                box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1),
                0 1px 2px rgba(0, 0, 0, 0.3),
                0 0 10px rgba(0, 0, 0, 0.15);
            }

            &:before {
                content: "";
                position: absolute;
                left: -10px;
                right: -10px;
                top: -10px;
                bottom: -10px;
                z-index: -1;
                border-radius: inherit;
                box-shadow: inset 0 10px 10px rgba(0, 0, 0, 0.13);
                -webkit-filter: blur(1px);
                filter: blur(1px);
            }

            .inner {
                position: relative;
                width: 100%;
                height: 100%;
                border-radius: inherit;
                background: linear-gradient(darken(saturate(adjust-hue($bg, -0.8439), 17.6375), 14.9020), darken(saturate(adjust-hue($bg, -0.2078), 5.0476), 6.8627));
                display: block;
                box-shadow: 0 -2px 5px rgba(255, 255, 255, 0.05),
                0 2px 5px rgba(255, 255, 255, 0.1);
            }
        }
        p {
            margin: 1rem 0 0 0;
            text-align: center;
            text-transform: uppercase;

            font-weight: bold;
            animation-duration: 2.5s;

            color: #000;
            font-size: 16pt;
            @include breakpoint(medium) {
                font-size: 30pt;
            }
        }
    }
}

.section {
    @include e('form') {
        .prefix {
            margin-top: 6px;
        }
    }
}

#registration {
    background: #eee;
}
